@media (max-width: 499px) and (min-width: 300px) {
  .css-45qwhz {
    padding: 0 !important;
    padding-top: 150px !important;
  }

  .css-45qwhz {
    flex-direction: column !important;
    gap: 100px !important;
  }

  .css-124zb1q {
    width: 70% !important;
    padding: 16px !important;
  }
  .css-h5h7wl {
    width: 100% !important;
    padding: 16px !important;
  }
}
